@charset "utf-8";
@font-face {
  src: url(../fonts/Brusher.ttf);
  font-family: 'brusher';
}
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 85%;
  margin: 0 auto;
}


/*=================================
  Header styling starts here
=================================*/

.login-page .wrapper { width: 90%; }

header {
  width: 100%;
  padding: 1% 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

/* login page header styling */
.login-page header { position: absolute; }

.loginpage-header {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

.loginpage-header li:first-child,
.loginpage-header li:last-child {
  max-height: 1px;
  border-bottom: 1px solid #013243;
  flex-basis: 45%;
  text-indent: -9999px;
}

.loginpage-header li:nth-child(2) {
  padding: 0 2%;
  box-sizing: border-box;
  flex-basis: 10%;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* login page banner styling */
.banner{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  z-index: 0;
  background: url(../img/boat.jpeg) 50% 50% no-repeat;
  background-size: cover;
}

.banner .wrapper{
  height: 100%;
  position: relative;
  z-index: 1;
}

.get-started{
  width: 50%;
  margin: 0 25%;
  display: inline-block;
  position: relative;
  z-index: 2;
  top: 78%;
}

.get-started a:first-child,
.get-started a:nth-child(2){
  width: 49.5%;
  padding: 1%;
  border: 1px solid #013243;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.get-started a:first-child{
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #013243;
  color: #FFF;
}

.get-started a:nth-child(2){
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: transparent;
  color: #013243;
  float: right;
}

.get-started a:first-child:hover { 
  background-color: #01171F;
  border-color: #01171F;
}

.get-started a:nth-child(2):hover{ 
  background-color: #FFF;
  border-color: #FFF;
}

.get-started a:active{
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.get-started > span{
  padding: 2% 0;
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

.get-started > span span{ font-weight: 700; }

.banner h2{
  width: 100%;
  height: 100%;
  padding: 0 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.85);
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 130px;
  line-height: 110px;
  text-align: center;
  mix-blend-mode: screen;
}

.banner ul{
  width: 15%;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner ul li{
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  overflow: hidden;
}

.banner ul li img{
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.banner ul li figure{ overflow: hidden; }

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  text-indent: -9999px;
}

.overlay::before{
  content: "\f144";
  font-family: "fontAwesome";
  text-indent: 0;
  position: absolute;
  bottom: 20%;
  left: 15%;
  font-size: 25px;
  color: rgba(255,255,255,0.5);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.banner ul li:hover img{
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.banner ul li:hover .overlay::before{ color: rgba(255,255,255,0.95); }


/* modal form section styling */
.modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: -webkit-box;
}

.modal > div{
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.video-modal{
  display: none;
}

.form-modal {
  width: 70%;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  position: relative;
  background-color: #FFF;
  box-shadow: 5px 10px 18px rgba(0,0,0,0.5);
  overflow: hidden;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.sign-up-form,
.sign-in-form {
  width: 50%;
  height: 100%;
  padding: 4%;
  display: inline-block;
  background-color: #FFF;
  box-sizing: border-box;
}

.sign-up-form {
  position: relative;
  z-index: 4;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.sign-in-form {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.modal h2{
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3%;
}

form > span{
  padding-bottom: 3%;
  display: block;
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
}

form label{
  font-size: 12px;
  text-transform: uppercase;
}

form input{
  width: 100%;
  height: 35px;
  padding: 2% 5%;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-bottom: 2%;
  display: block;
  background-color: rgba(0,0,0,0.1);
  border-style: none;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}

.form-group{
  position: relative;
}

.form-group span{
  width: 50%;
  left: auto;
  right: 0;
  bottom: 90%;
  font-size: 13px;
  box-sizing: border-box;
  padding: 2%;
  color: #CF0000;
}

.form-group span{
  font-size: 12px;
  text-transform: capitalize;
  color: rgb(223, 37, 12);
  visibility: hidden;
  position: absolute;
  right: -40%;
  bottom: 75%;
  width: 50%;
  z-index: 1;
  box-sizing: border-box;
  background-color: #FFF;
  padding: 1.5%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.7);
}

.form-group span::before{
  content: " ";
  text-indent: 0;
  float: right;
  position: absolute;
  z-index: 1;
  background: #FFF;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -4px;
  left: 9%;
}

.green,
.red{
  text-indent: -9999px;
  position: absolute;
  bottom: 15%;
  right: 4.5%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  visibility: hidden;
}

.green::after {
  content: "\f058";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  color: #004445;
}

.red::after {
  content: "\f06a";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  color: rgb(223, 37, 12);
}

.success input{
  border: 2px solid #004445;
}

.success .green,
.error .red{
  visibility: visible;
}

.error input{
  border: 2px solid rgb(223, 37, 12);
}

.error span{
  visibility: visible;
}

.sign-in,
.sign-up{
  padding: 2% 5%;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  color: #FFF;
  background-color: #004445;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.form-controls { text-align: center; }

.pannel-container{
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  color: #FFF;
  overflow: hidden;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.pannel-background{
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#004445) , color-stop(#2C786C) ,	to(#31AA6D));
  background-image: linear-gradient(to right, #004445 , #2C786C ,	#31AA6D);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.pannel-left,
.pannel-right{
  width: 50%;
  height: 100%;
  padding: 4%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.pannel-left h2,
.pannel-right h2{
  font-size: 30px;
  font-weight: 900;
}

.pannel-left span,
.pannel-right span{
  padding-bottom: 20%;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
}

#sign-up-form,
#sign-in-form{
  padding: 2.5% 10%;
  border: 1px solid #FFF;
  border-radius: 20px;
  color: #FFF;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: 50ms ease-in-out;
  transition: 50ms ease-in-out;
}

#sign-up-form:active,
#sign-in-form:active{
  -webkit-transform: scale(0.90);
          transform: scale(0.90);
}

.pannel-left{
  left: -50%;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.pannel-right{
  right: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.active .pannel-right{ right: -50%; }

.active .pannel-left{ left: 0; }

.active .pannel-container{ left: 0; }

.active .pannel-background{ right: -100%; }

.active .sign-up-form{
  z-index: 1;
  left: 50%;
  opacity: 0;
}

.active .sign-in-form{
  z-index: 4;
  left: 50%;
  opacity: 1;
}

.close{
  text-indent: -9999px;
  position: absolute;
  z-index: 3;
  top: 8%;
  right: 8%;
  background-color: #FFF;
  padding: 5px 10px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.close::after {
  content: "\f00d";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  color: #222222;
}





/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 540px) {
  
}  